<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <header id="header">
{% include header.html %}
  </header>

{% include intro.html %}

  <main id="main">

{% include about_section.html %}
{% include speakers_list.html %}
{% include schedule.html %}
{% include venue.html %}
{% include hotels.html %}
{% include gallery.html %}
{% include sponsors.html %}
{% include faq.html %}
{% include newsletter.html %}
{% include patreon.html %}
{% include contact.html %}

  </main>


{% include footer.html %}

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

{% include libraries.html %}

</body>

</html>
