---
layout: default
---

{% include intro.html %}
  <main id="main">
{% include about_section.empty.html %}
{% include speakers_list.empty.html %}
{% include schedule.empty.html %}
{% include venue.empty.html %}
{% include gallery.empty.html %}
{% include sponsors.empty.html %}

    <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Episodes</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">
{% for post in site.posts %}
  {% if post.categories contains "episode" %}
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">{{ post.description }}<i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
                    <div>
                      [audio player: {{ post.audio_file }}]
                    </div>
					<div>
                      [video player: {{ post.video_file }}]
                    </div>
					<div>
						<a href="{{ site.baseurl }}{{ post.url }}" class="about-btn scrollto">Read More</a>
					</div>
                  </div>
                </li>
  {% endif %}
{% endfor %}
              </ul>
          </div>
        </div>

      </div>

    </section>

{% include subscribe.empty.html %}
{% include patreon.empty.html %}
{% include contact.empty.html %}
  </main>