    <section id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h2>About us</h2>
            <p>William and Steven ardently discuss the question "Who am I?" from perspectives informed by philosophy, psychology, natural sciences, the arts and every-day experiences. Join us on our quest to illuminate the path towards personal identity.</p>
          </div>
		  <div class="col-md-6">
			<h2>Subscribe</h2>
			<a href="https://podcasts.apple.com/us/podcast/who-am-i/id1482043952">
			  <img class="listenon" src="/images/listenonapplepodcasts.min.png" alt="Listen on Apple Podcast" title="Listen on Apple Podcast">
		    </a>
			<a href="https://open.spotify.com/show/2OBc2Z6BvvLrbSS0fYVGts">
			  <img class="listenon" src="/images/listenonspotify.min.png" alt="Listen on Spotify" title="Listen on Spotify">
		    </a>
			<a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9kZWM3ODRjL3BvZGNhc3QvcnNz">
			  <img class="icon" src="/images/listenongooglepodcasts.min.png" alt="Listen on Google Podcasts" title="Listen on Google Podcasts">
		    </a>
		    <a href="https://www.stitcher.com/podcast/who-am-i-podcast">
			  <img class="icon" src="/images/stitcher30x30.min.png" alt="Stitcher icon" title="Stitcher icon">
		    </a>
		    <a href="https://overcast.fm/itunes1482043952/who-am-i">
			  <img class="icon" src="/images/overcast30x30.square.min.png" alt="Overcast icon" title="Overcast icon">
		    </a>
		    <a href="https://anchor.fm/whoamipodcast">
  			  <img class="icon" src="/images/anchorfm30x30.min.png" alt="Anchor FM icon" title="Anchor FM icon">
		    </a>
		    <a href="https://podcastrepublic.net/podcast/1482043952">
			  <img class="icon" src="/images/podcastrepublic30x30.min.png" alt="Podcast Republic icon" title="Podcast Republic icon">
		    </a>
		    <a href="https://radiopublic.com/who-am-i-6Vy9k9">
			  <img class="icon" src="/images/radiopublic30x30.min.png" alt="Radio Public icon" title="Radio Public icon">
		    </a>
		    <a href="https://pca.st/zvmw5tn4">
			  <img class="icon" src="/images/pocketcasts30x30.min.png" alt="Pocket Casts icon" title="Pocket Casts icon">
		    </a>
		    <a href="https://www.breaker.audio/who-am-i-11">
			  <img class="icon" src="/images/breaker30x30.min.png" alt="Breaker icon" title="Breaker icon">
		    </a>
		    <a href="https://castbox.fm/channel/Who-am-I-id2413576">
			  <img class="icon" src="/images/castbox30x30.min.png" alt="Castbox icon" title="Castbox icon">
		    </a>
		    <a href="https://www.iheart.com/podcast/269-who-am-i-53147560/">
			  <img class="icon" src="/images/iheart30x30.min.png" alt="iHeart icon" title="iHeart icon">
		    </a>
		  </div>
		</div>
      </div>
    </section>