    <section id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3">
            <h2>About our Podcast</h2>
            <p>William and Steven ardently discuss the question "Who am I?" from perspectives informed by philosophy, psychology, natural sciences, the arts and every-day experiences. Join us on our quest to illuminate the path towards personal identity.</p>
          </div>
          <div class="col-lg-3">
		    <div class="off-left">
              <h3>Connect</h3>
			  <a href="https://anchor.fm/whoamipodcast">
				<div class="icon"><img src="/images/anchorfm30x30.png" alt="Anchor FM icon" title="Anchor FM icon">Anchor FM</div>
			  </a>
			  <a href="https://pca.st/zvmw5tn4">
				<div class="icon"><img src="/images/pocketcasts30x30.png" alt="Pocket Casts icon" title="Pocket Casts icon">Pocket Casts</div>
			  </a>
			  <a href="https://radiopublic.com/who-am-i-6Vy9k9">
				<div class="icon"><img src="/images/radiopublic30x30.png" alt="Radio Public icon" title="Radio Public icon">Radio Public</div>
			  </a>
		      <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9kZWM3ODRjL3BvZGNhc3QvcnNz">
				<div class="icon"><img src="/images/googlepodcasts30x30.png" alt="Google Podcasts icon" title="Google Podcasts icon">Google Podcasts</div>
			  </a>
			  <a href="https://www.breaker.audio/who-am-i-11">
				<div class="icon"><img src="/images/breaker30x30.png" alt="Breaker icon" title="Breaker icon">Breaker</div>
			  </a>
			</div>
          </div>
        </div>
      </div>
    </section>