    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About our Podcast</h2>
            <p>William and Steve casually discuss the question of "Who am I?" from perspectives informed by philosophy, psychology, natural sciences, the arts and every-day experiences. Join us on our quest to illuminating the path towards personal identity.</p>
          </div>
          <div class="col-lg-6">
            <h3>Platforms</h3>
            <ul>
			  <!--<li>Apple Podcasts</li>
			  <li>Stitcher</li>
			  <li>Breaker</li>
			  <li>Castbox</li>
			  <li>TuneIn</li>
			  <li>SoundCloud</li>
			  <li>Spotify</li>-->
			  <li><a href="https://anchor.fm/whoamipodcast">Anchor FM</a></li>
			  <li><a href="https://anchor.fm/s/dec784c/podcast/rss">RSS feed</a></li>
			</ul>
          </div>
        </div>
      </div>
    </section>