    <section id="blogposts" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Blog Posts</h2>
          <p></p>
        </div>
        <div class="row">		
{% assign blogposts = site.posts | where: "type", "blogpost" | sort: "date" | reverse | slice: 0, 3 %}
{% for blogpost in blogposts %}
				<div class="col-md-4">
				<div class="latestepisodes">
					{% include blogpostbox.html %}
				</div>
				</div>
{% endfor %}
				</div>
			</div>
		</section>