<main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">

        <div class="row">
		
          <!-- left column -->
          <div class="col-md-9">
		  
		    <!-- image and title -->
			<div>
			  <div>
{% assign posts = site.posts | sort: "date" %}

{% assign ppep = "" %}
{% assign pep = "" %}
{% assign ep = "" %}
{% assign braked = 0 %}
{% for post in posts %}
  {% if post.type contains "episode" %}
		{% if post.section == 0 %}
			{% if braked == 0 %}
				{% assign ppep = pep %}
				{% assign pep = ep %}
				{% assign ep = post %}
				{% if pep != "" %}
					{% if page.type contains "adventurebook" %}
						{% if pep.abnumber == page.abnumber %}
							{% assign braked = 1 %}
							{% break %}
						{% endif %}
					{% else %}
						{% if pep.epnumber == page.epnumber %}
							{% assign braked = 1 %}
							{% break %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
  {% endif %}
{% endfor %}
{% if braked == 0 %}
  {% assign ppep = pep %}
  {% assign pep = ep %}
  {% assign ep = "" %}
{% endif %}

{% assign pps = "" %}
{% assign ps = "" %}
{% assign s = "" %}
{% assign sn = -1 %}
{% assign braked = 0 %}
{% for post in posts %}
  {% if post.type contains "episode" %}
		{% if post.epnumber == page.epnumber %}
			{% if braked == 0 %}
				{% assign pps = ps %}
				{% assign ps = s %}
				{% assign s = post.url %}
				{% assign sn = post.section %}
				{% if ps == page.url %}
					{% assign braked = 1 %}
					{% break %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}
{% if braked == 0 %}
  {% assign pps = ps %}
  {% assign ps = s %}
  {% assign s = "" %}
  {% assign sn = -1 %}
{% endif %}

{% assign samount = 0 %}
{% for post in posts %}
	{% if page.type contains "adventurebook" %}
		{% if post.abnumber == page.abnumber %}
			{% assign samount = samount | plus:1 %}
		{% endif %}
  {% elsif post.type contains "episode" %}
    {% if post.epnumber == page.epnumber %}
			{% assign samount = samount | plus:1 %}
		{% endif %}
  {% endif %}
{% endfor %}
			    <div style="width: 20%; float: left; text-align: left; white-space: nowrap;">
				  {% if ppep != "" %}<a href="{{ site.baseurl }}{{ ppep.url }}"><img class="backward" src="/images/fastforwardicon_filled.png"></a>{% endif %}
				  {% if pps != "" %}<a href="{{ site.baseurl }}{{ pps }}"><img class="backward" src="/images/forwardicon_filled.png"></a>{% endif %}
				  &nbsp;
				</div>
				{% if page.type contains "adventurebook" %}
					<h3 style="width: 60%; float: left; text-align: center;"><a class="episodelink" href="{{ site.baseurl }}{{ pep.url }}">Adventure Book #{{ page.abnumber }}</a> Part {{ page.part }}</h3>
				{% else %}
					<h3 style="width: 60%; float: left; text-align: center;"><a class="episodelink" href="{{ site.baseurl }}{{ pep.url }}">Episode #{% if page.epnumber < 10 %}0{% endif %}{{ page.epnumber }}</a>{% if samount > 1 %} {% if page.section == 0 %}Introduction{% else %}Section {{ page.section }}{% endif %}{% endif %}</h3>
				{% endif %}
				<div style="width: 20%; float: left; text-align: right; white-space: nowrap;">
				  &nbsp;
				  {% if s != "" %}<a href="{{ site.baseurl }}{{ s }}"><img class="forward" src="/images/forwardicon_filled.png"></a>{% endif %}
				  {% if ep != "" %}<a href="{{ site.baseurl }}{{ ep.url }}"><img class="forward" src="/images/fastforwardicon_filled.png"></a>{% endif %}
				</div>
			  </div>
		      <img src="{{ page.image }}" style="max-width: 100%; max-height: 300px; margin-left: auto; margin-right: auto; display: block;">
		      <h1 style="font-weight: bold; margin-top: 20px; text-align: center;">{{ page.title }}</h1>
            </div>
		  
		    <!-- meta data -->
			<div class="entry-meta">
			  <span><i class="fa fa-calendar"></i>{{ page.date | date: "%e %b %Y" }}</span>
			  <span class="tag-meta">
			    <i class="fa fa-folder-o"></i>
				<a href="#">{{ page.categories | join: ', ' }}</a>
  		      </span>
			  <span>
				{% if page.tags.size > 0 %}
				<i class="fa fa-tags"></i>
				<a href="#">{{ page.tags | join: ', ' }}</a>
				{% endif %}
			  </span>
			</div>
			<!-- description -->
			<p>{{ page.description }}</p>
{% if page.section == 0 %}
	{% if samount > 1 %}
		{% if page.type contains "adventurebook" %}
			<!-- list of parts -->
			<div>
				<h3 class="boldh3">Overview:</h3>
				<table border="0">
					{% for post in posts %}{% if post.type contains "adventurebook" %}{% if post.abnumber == page.abnumber %}
					<tr>
					<td><span style="font-size: 1rem; font-weight: bold;">Part {{ post.part }}</span>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
					</tr>
					{% endif %}{% endif %}{% endfor %}
					</table>
			</div>
		{% else %}
			<!-- list of sections -->
			<div>
				<h3 class="boldh3">Sections in this Episode:</h3>
				<table border="0">
					<tr><td><i class="fa fa-circle" style="font-size:8pt;"></i>&nbsp;&nbsp;This Introduction</td><td></td></tr>
					{% for post in posts %}{% if post.type contains "episode" %}{% if post.epnumber == page.epnumber %}{% if post.section != 0 %}
					<tr>
					<td><i class="fa fa-circle" style="font-size:8pt;"></i>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
					<td>{% if post.video %}<span style="white-space:nowrap;">&nbsp;( <a href="https://www.youtube.com/watch?v={{ post.video }}" class="venobox vbox-item" data-vbtype="video" data-autoplay="true"><i class="fa fa-youtube-play" style="font-size:16pt;"></i> Excerpt )</a></span>{% endif %}</td>
					</tr>
					{% endif %}{% endif %}{% endif %}{% endfor %}
					</table>
			</div>
		{% endif %}
	{% endif %}
{% endif %}
{% if page.video %}		  
			<!-- video -->
			{% if page.type contains "adventurebook" %}
				<div>
					<h3 class="boldh3">Watch Part {{ page.part }}:</h3>
					<div class="aspect-ratio-video">
						<iframe src="https://odysee.com/$/embed/@WhoamiPodcast:6/{{ page.video }}" allowfullscreen></iframe>
					</div>
				</div>
			{% else %}
				<div>
					<h3 class="boldh3">Watch{% if page.section == 0 %} the Full Episode{% else %} a Short Excerpt{% endif %}:</h3>
					<div class="aspect-ratio-video">
						<iframe src="https://odysee.com/$/embed/@WhoamiPodcast:6/{{ page.video }}" allowfullscreen></iframe>
					</div>
				</div>
			{% endif %}
{% endif %}
{% if page.audio %}
			<!-- audio -->
			{% if page.type contains "adventurebook" %}
				<div>
					<h3 class="boldh3">Listen to Part {{ page.part }}:</h3>
					<div class="aspect-ratio-audio">
						<iframe src="https://anchor.fm/whoamipodcast/embed/episodes/{{ page.audio }}" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
			{% else %}
				<div>
					<h3 class="boldh3">Listen{% if page.section == 0 %} to the Full Episode{% else %} to a Short Excerpt{% endif %}:</h3>
					<div class="aspect-ratio-audio">
						<iframe src="https://anchor.fm/whoamipodcast/embed/episodes/{{ page.audio }}" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
			{% endif %}
{% endif %}
{% assign cnt = page.content | strip_newlines %}
{% if cnt != "" %}
		  <!-- transcript -->
          <div id="transcript">
				{% if page.transcript > 0 %}
		    <h3 class="boldh3">Transcript{% if page.section == 0 %} (Introduction){% else %} (continued){% endif %}:</h3>
				{% else %}
				<h3 class="boldh3">Notes:</h3>
				{% endif %}
		    {{ content }}
			{% if s != "" %}{% if sn > 0 %}<div style="width: 100%; font-size: 16pt; text-align: right; margin-bottom: 30px; text-decoration: underline;"><a href="{{ site.baseurl }}{{ s }}">&raquo; Continue Reading &raquo;</a></div>{% endif %}{% endif %}
		  </div>
{% endif %}
		  <!-- previous / next section / episode -->
		  <div>
			<div style="width: 20%; float: left; text-align: left; white-space: nowrap;">
			  {% if ppep != "" %}<a href="{{ site.baseurl }}{{ ppep.url }}"><img class="backward" src="/images/fastforwardicon_filled.png"></a>{% endif %}
			  {% if pps != "" %}<a href="{{ site.baseurl }}{{ pps }}"><img class="backward" src="/images/forwardicon_filled.png"></a>{% endif %}
			  &nbsp;
			</div>
			<h3 style="width: 60%; float: left; text-align: center;">
{% if samount > 1 %}
{% for post in posts %}{% if post.type == "episode" %}{% if post.epnumber == page.epnumber %}{% if post.section == 0 %}<a class="episodelink" href="{{ site.baseurl }}{{ post.url }}">&nbsp;Intro&nbsp;</a>{% else %}
|
<a class="episodelink" href="{{ site.baseurl }}{{ post.url }}">&nbsp;{{ post.section }}&nbsp;</a>{% endif %}{% endif %}{% endif %}{% endfor %}
{% endif %}
			</h3>
			<div style="width: 20%; float: left; text-align: right; white-space: nowrap;">
			  &nbsp;
			  {% if s != "" %}<a href="{{ site.baseurl }}{{ s }}"><img class="forward" src="/images/forwardicon_filled.png"></a>{% endif %}
			  {% if ep != "" %}<a href="{{ site.baseurl }}{{ ep.url }}"><img class="forward" src="/images/fastforwardicon_filled.png"></a>{% endif %}
			</div>
		  </div>
		  <div style="clear: both;"></div>
		</div>
		<!-- left column ends -->
		
		<!-- right column -->
		<div class="col-md-3">
			<div style="font-size:18pt; text-decoration: underline; margin-top: 20px;">In this episode:</div>
{% assign speakers = site.posts | where: "type", "speaker" %}
{% for speaker in speakers %}
{% if page.speakers contains speaker.title %}
			<a href="{{ site.baseurl }}{{ speaker.url }}" style="width: inherit; height: auto;">
				<img src="{{ speaker.image }}" style="width: inherit; height: auto; margin-top: 20px;">
				<div style="font-size: 16pt; text-align: center;">{{ speaker.title }}</div>
			</a>
{% endif %}
{% endfor %}
		</div>
		<!-- right column ends -->
	</div>
		
			<!-- related posts -->
			<h3 class="boldh3">Other Episodes:</h3>
			<div class="row">
{% assign eamount = 0 %}
{% for post in site.posts %}
	{% if post.type contains "episode" %}
		{% if post.section == 0 %}
			{% if post != page %}
				{% assign eamount = eamount | plus:1 %}
				{% if eamount > 4 %}
					{% break %}
				{% endif %}
					<div class="col-md-3">
						<div class="latestepisodes">
							{% include episodebox.html %}
						</div>
					</div>
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}					
			</div>
		  <!-- comments -->
			<div class="row">
				<h3 class="boldh3">Leave a Comment:</h3>
{% include disqus.html %}
      </div>
    </section>
  </main>
  
<script>
Array.from(document.getElementsByTagName("iframe")).filter(x => x.allowFullscreen).forEach(x => x.style.border = 0)
</script>