    <section id="episodes" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Latest Episodes</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9"><div style="display: inline-flex;">
{% for post in site.posts %}
{% if post.type == "episode" %}
{% if post.section == 0 %}
			<div class="latestepisodes">
			  <div>
				<a href="{{ site.baseurl }}{{ post.url }}">
				  <img class="thumbnail" src="{{ post.image }}">
				</a>
			  </div>
			  <div class="excerpt">
			    <a href="{{ site.baseurl }}{{ post.url }}">
				  <h5 class="boldh5">Ep. {{ post.epnumber }}{% if post.section > 0 %}({{ post.section }}){% endif %}: {{ post.title }}</h5>
				</a>
				<p style="margin-bottom: 0;">{{ post.excerpt | truncatewords:30 | replace: '<b>', '' | replace '</b>', '' }}</p>
				<p class="fadetowhite">
				  <a class="readmorebutton" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
				</p>
			  </div>
			  <div class="clearboth"></div>
			</div>
{% endif %}
{% endif %}
{% endfor %}
          </div></div>
        </div>

      </div>

    </section>