    <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Episodes</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">
{% for post in site.posts %}
  {% if post.type == "episode" %}
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#ep{{ post.epnumber }}">{{ post.date | date: "%e %b %Y" }} | Ep. #{{ post.epnumber }} | {{ post.title }}<i class="fa fa-minus-circle"></i></a>
                  <div id="ep{{ post.epnumber }}" class="collapse" data-parent="#faq-list">
				    <div>episode length: {{ post.length }}</div>
				    <div>{{ post.description }}</div>
                    <div>
                      [audio player: {{ post.audio_file }}]
                    </div>
					<div>
                      [video player: {{ post.video_file }}]
                    </div>
					<div>
						<a href="{{ site.baseurl }}{{ post.url }}" class="about-btn scrollto">Read More</a>
					</div>
                  </div>
                </li>
  {% endif %}
{% endfor %}
              </ul>
          </div>
        </div>

      </div>

    </section>