    <section id="episodes" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Episodes</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="episodes-list">
{% for post in site.posts %}
  {% if post.type == "episode" %}
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#ep{{ post.epnumber }}">Ep. #{{ post.epnumber }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.title }}
				  <div class="fb-like" data-href="https://whoamipodcast.com" data-width="300" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
				  <i class="fa fa-minus-circle"></i></a>
                  <div id="ep{{ post.epnumber }}" class="collapse" data-parent="#episodes-list">
				    <div>episode length: {{ post.length }}</div>
				    <div>{{ post.description }}</div>
                    <div>
                      [audio player: {{ post.audio_file }}]
                    </div>
					<div>
                      [video player: {{ post.video_file }}]
                    </div>
					<div>
						<a href="{{ site.baseurl }}{{ post.url }}" class="about-btn scrollto">Read More</a>
					</div>
                  </div>
                </li>
  {% endif %}
{% endfor %}
              </ul>
          </div>
        </div>

      </div>

    </section>