    <div class="container">

      <div id="logo" class="pull-left">
        <a href="{{ site.url }}/index.html#intro" class="scrollto"><img src="/images/banner_red152x40.min.png" alt="Who Am I Podcast Logo" title="Who Am I Podcast Logo"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
					<li><a href="{{ site.url }}">Home</a></li>
					<li><a href="{{ site.url }}/episodes/">Episodes</a></li>
          <li><a href="{{ site.url }}/speakers/">Speakers</a></li>
					<li><a href="#blogposts">Blog</a></li>
          <!--<li class="buy-tickets"><a href="{{ site.url }}/ebook/">Ebook</a></li>-->
        </ul>
      </nav>
    </div>