<head>
  
  <title>Discussing questions around personal identity</title>
  
{% include meta.html %}

  <!-- Favicons -->
  <link href="/images/microphone32x32.png" rel="icon">
  <link href="/images/logo180x180.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/bm/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/bm/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/bm/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/bm/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/bm/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/bm/css/style.css" rel="stylesheet">
  
  <!-- MailChimp -->
  <!--<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">-->

</head>