    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="{{ site.url }}index.html#intro" class="scrollto"><img src="/images/banner_grey.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{{ site.url }}index.html#intro">Home</a></li>
          <li><a href="{{ site.url }}index.html#about">About</a></li>
          <li><a href="{{ site.url }}index.html#episodes">Episodes</a></li>
          <li><a href="{{ site.url }}index.html#speakers">Speakers</a></li>
          <li class="buy-tickets"><a href="{{ site.url }}index.html#newsletter">Newsletter</a></li>
        </ul>
      </nav>
    </div>