  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="index.html#intro" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="index.html#speakers">Speakers</a></li>
          <li><a href="index.html#schedule">Schedule</a></li>
          <li><a href="index.html#venue">Venue</a></li>
          <li><a href="index.html#hotels">Hotels</a></li>
          <li><a href="index.html#gallery">Gallery</a></li>
          <li><a href="index.html#supporters">supporters</a></li>
          <li><a href="index.html#contact">Contact</a></li>
          <li class="buy-tickets"><a href="index.html#buy-tickets">Buy Tickets</a></li>
        </ul>
      </nav>
    </div>
  </header>