<head>
  
  <title>Title of the Homepage</title>
  
{% include meta.html %}

  <!-- Favicons -->
  <link href="/bm/img/favicon.png" rel="icon">
  <link href="/bm/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/bm//bm/img/bootstrap//bm/img/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/bm/img/font-awesome//bm/img/font-awesome.min.css" rel="stylesheet">
  <link href="/bm/img/animate/animate.min.css" rel="stylesheet">
  <link href="/bm/img/venobox/venobox.css" rel="stylesheet">
  <link href="/bm/img/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/bm/img/style.css" rel="stylesheet">

</head>