    <section id="episodes" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Latest Episodes</h2>
        </div>

        <div class="row">
{% assign amount = 0 %}
{% for post in site.posts %}
{% if post.type contains "episode" %}
{% if post.section == 0 %}
  {% assign amount = amount | plus:1 %}
  {% if amount > 3 %}
    {% break %}
  {% endif %}
		  <div class="col-md-4">
			<div class="latestepisodes">
			  <div>
				<a href="{{ site.baseurl }}{{ post.url }}">
				  <img class="thumbnail" src="{{ post.image }}">
				</a>
			  </div>
			  <div class="excerpt">
			    <a href="{{ site.baseurl }}{{ post.url }}">
				  <h5 class="boldh5">Ep. {{ post.epnumber }}{% if post.section > 0 %}({{ post.section }}){% endif %}: {{ post.title }}</h5>
				</a>
				<p style="margin-bottom: 0;">{{ post.description | truncatewords:50 | replace: '<b>', '' | replace '</b>', '' }}</p>
				<p class="fadetowhite">
				</p>
			  </div>
			  <div style="float: bottom; text-align: center;">
				<a class="readmorebutton" href="{{ site.baseurl }}{{ post.url }}">Watch / Listen{% if post.transcript > 0 %} / Read{% endif %}</a>
				<p style="margin-bottom: 25px;"></p>
			  </div>
			  <div class="clearboth"></div>
			</div>
		  </div>
{% endif %}
{% endif %}
{% endfor %}
        </div>
		<div style="text-align: center;"><a href="{{ site.url }}/episodes/" style="font-size: 14pt;" class="button">Show More Episodes</a></div>
      </div>

    </section>