  <!-- JavaScript Libraries -->
  <script src="/bm/img/jquery/jquery.min.js"></script>
  <script src="/bm/img/jquery/jquery-migrate.min.js"></script>
  <script src="/bm/img/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bm/img/easing/easing.min.js"></script>
  <script src="/bm/img/superfish/hoverIntent.js"></script>
  <script src="/bm/img/superfish/superfish.min.js"></script>
  <script src="/bm/img/wow/wow.min.js"></script>
  <script src="/bm/img/venobox/venobox.min.js"></script>
  <script src="/bm/img/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/bm/js/main.js"></script>