  <!-- JavaScript Libraries -->
  <script src="/bm/lib/jquery/jquery.min.js"></script>
  <script src="/bm/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/bm/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bm/lib/easing/easing.min.js"></script>
  <script src="/bm/lib/superfish/hoverIntent.js"></script>
  <script src="/bm/lib/superfish/superfish.min.js"></script>
  <script src="/bm/lib/wow/wow.min.js"></script>
  <script src="/bm/lib/venobox/venobox.min.js"></script>
  <script src="/bm/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/bm/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/bm/js/main.js"></script>
  
  <!-- add2any -->
  <script async src="/lib/a2a.page.js"></script>
  
  <!-- cookies consent -->
  <script src="/lib/cookieconsent.min.js"></script>
  <script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#ffe4e1","text":"#000000","border":"#c25e5e"},"button":{"background":"#c25e5e","text":"#ffffff"}},"position":"bottom-right","padding":"small","margin":"small"})});</script>
  
  <!-- insertables -->
  <script>
    var insertables = document.getElementsByClassName("insertable");
	for(var i=0; i<insertables.length; i++){
		var insertable = insertables[i];
		var name = insertable.id;
		var image = document.createElement("img");
		image.setAttribute("src", "/images/insertable/" + name + ".jpg");
		insertable.appendChild(image);
		var caption = document.createElement("h4");
		caption.innerText = name;
		insertable.appendChild(caption);
	}
  </script>