  <!-- JavaScript Libraries -->
  <script src="/bm/lib/jquery/jquery.min.js"></script>
  <script src="/bm/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/bm/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bm/lib/easing/easing.min.js"></script>
  <script src="/bm/lib/superfish/hoverIntent.js"></script>
  <script src="/bm/lib/superfish/superfish.min.js"></script>
  <script src="/bm/lib/wow/wow.min.js"></script>
  <script src="/bm/lib/venobox/venobox.min.js"></script>
  <script src="/bm/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/bm/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/bm/js/main.js"></script>
  
  <!-- add2any -->
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  
  <!-- cookies consent -->
  <script src="/cookiesconsent/cookieconsent.min.js"></script>