    <section id="newsletter">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Sign up here to get notified whenever we post fresh content.</p>
        </div>

        <div id="mc_embed_signup">
          <form action="https://gmail.us4.list-manage.com/subscribe/post?u=e0e13db62e38013bed9a1f34f&amp;id=90b4c24979" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-row justify-content-center">
              <div class="col-auto">
                <input type="text" class="form-control required" placeholder="Enter your first name" id="mce-FNAME" name="FNAME">
              </div>
			  <div class="col-auto">
                <input type="text" class="form-control required email" placeholder="Enter your Email" id="mce-EMAIL" name="EMAIL">
              </div>
			  <div id="mce-responses" class="clear">
		        <div class="response" id="mce-error-response" style="display:none"></div>
		        <div class="response" id="mce-success-response" style="display:none"></div>
	          </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e0e13db62e38013bed9a1f34f_90b4c24979" tabindex="-1" value=""></div>
              <div class="col-auto">
				<button class="button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
              </div>
            </div>
          </form>
		</div>

      </div>
    </section>