<div class="relatedpost">
  <div>
    <a href="https://dyorpodcast.com/that-bitcoin-show/">
	  <img class="thumbnail" src="/images/ep02banner.png">
	</a>
  </div>
  <div class="excerpt">
    <h5 class="boldh5">A Reciprocal Relationship With Technology</h5>
	<p style="margin-bottom: 0;">Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	<p class="fadetowhite">
      <a class="readmorebutton" href="#">Watch / Listen / Read</a>
    </p>
  </div>
  <div class="clearboth"></div>
</div>