{% assign posts = site.posts | sort: "date" %}
  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
		  <h2>{{ page.title }}</h2>
          <p>{{ page.vocation }}</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="{{ page.image }}" alt="{{ page.title }}" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>{{ page.name }}</h2>
              <div class="social">
  {% if page.twitter %}                <a href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter"></i></a>
  {% endif %}
  {% if page.facebook %}                <a href="https://facebook.com/{{ page.facebook }}"><i class="fa fa-facebook"></i></a>
  {% endif %}
  {% if page.instagram %}                <a href="https://instagram.com/{{ page.instagram }}"><i class="fa fa-instagram"></i></a>
  {% endif %}
  {% if page.linkedin %}                <a href="https://linkedin.com/in/{{ page.linkedin }}"><i class="fa fa-linkedin"></i></a>
  {% endif %}
  {% if page.homepage %}                <a href="{{ page.homepage }}"><i class="fa fa-link"></i></a>
  {% endif %}
              </div>
{{ content }}
							{% if page.type contains "host" %}
							{% else %}
								<h3 style="margin-top: 20px; margin-bottom: 5px;">Appearances:</h3>
								{% assign appearances_array = "" | split: "/" %}
								{% for post in posts %}
									{% if post.type contains "episode" %}
										{% if post.section == 0 %}
											{% if post.speakers contains page.title %}
												{% capture link %}<a href="{{ site.baseurl }}{{ post.url }}">Ep. {{ post.epnumber }}</a>{% endcapture %}
												{% assign appearances_array = appearances_array | push: link %}
											{% endif %}
										{% endif %}
									{% endif %}
								{% endfor %}
								{{ appearances_array | join: ', ' }}
							{% endif %}
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>