    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Podcast Speakers</h2>
          <p>Here are some of our speakers</p>
        </div>
        <div class="row">		
{% for post in site.posts %}
  {% if post.categories contains "speaker" %}
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{{ post.image }}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.name }}</a></h3>
                <p>Quas alias incidunt</p>
                <div class="social">
{% if post.twitter %}
                  <a href="twitter.com/{{ post.twitter }}"><i class="fa fa-twitter"></i></a>
{% endif %}
{% if post.facebook %}
                  <a href="facebook.com/{{ post.facebook }}"><i class="fa fa-facebook"></i></a>
{% endif %}
{% if post.instagram %}
                  <a href="instagram.com/{{ post.instagram }}"><i class="fa fa-instagram"></i></a>
{% endif %}
{% if post.linkedin %}
                  <a href="linkedin.com/{{ post.linkedin }}"><i class="fa fa-linkedin"></i></a>
{% endif %}
                </div>
              </div>
            </div>
          </div>
  {% endif %}
{% endfor %}
        </div>
      </div>

    </section>