    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Recent Speakers</h2>
          <p>Get to know the speakers on our podcast.</p>
        </div>
        <div class="row">		
{% include get_speakers.html %}
{% assign latest_speakers = speakers | slice: 0, 3 %}
{% for speaker in latest_speakers %}
		  <div class="col-md-4">
            <div class="speaker">
			  <a href="{{ site.baseurl }}{{ speaker.url }}">
                <img src="{{ speaker.image }}" alt="{{ speaker.title }}" style="width: 100%; aspect-ratio: 540/720; object-fit: cover; object-position: 50% 0%;">
			  </a>
              <div class="details">
                <h3><a href="{{ site.baseurl }}{{ speaker.url }}">{{ speaker.name }}</a></h3>
                <p>{{ speaker.title }}</p>
                <div class="social">
    {% if speaker.twitter %}
                  <a href="https://twitter.com/{{ speaker.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if speaker.facebook %}
                  <a href="https://facebook.com/{{ speaker.facebook }}"><i class="fa fa-facebook-square"></i></a>
    {% endif %}
    {% if speaker.instagram %}
                  <a href="https://instagram.com/{{ speaker.instagram }}"><i class="fa fa-instagram"></i></a>
    {% endif %}
    {% if speaker.linkedin %}
                  <a href="https://linkedin.com/in/{{ speaker.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
    {% endif %}
    {% if speaker.homepage %}
                  <a href="{{ speaker.homepage }}"><i class="fa fa-link"></i></a>
    {% endif %}
                </div>
              </div>
            </div>
          </div>
{% endfor %}
        </div>
				<div style="text-align: center; margin-top: 30px; margin-bottom: 120px;"><a href="{{ site.url }}/speakers/" style="font-size: 14pt;" class="button">Show More Speakers</a></div>
      </div>
    </section>