---
layout: default
---

  <header id="header" class="header-fixed">
{% include header.html %}
  </header>

  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>{{ page.title }}</h2>
          <p>{{ page.subtitle }}</p>
        </div>

        <div class="row">
          <!--<div class="col-md-6">-->
		  <div class="col-lg-9">
            <div class="details">
{{ content }}
            </div>
          </div>
        </div>
		
      </div>
    </section>
  </main>