---
layout: default
header: fixed
---

  <header id="header" class="header-fixed">
{% include header.html %}
  </header>

{% if page.type == "episode" %}
  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h3>Episode #{% if page.epnumber < 10 %}0{% endif %}{{ page.epnumber }} - {% if page.section == 0 %}Introduction{% else %}Section {{ page.section }}{% endif %}</h3>
        </div>

        <div class="row">
          <div class="col-md-12">
		    <h1 style="font-weight: bold;">{{ page.title }}</h1>
			  <div class="entry-meta">
				<span><i class="fa fa-calendar"></i>{{ page.date | date: "%e %b %Y" }}</span>
				<span class="tag-meta">
				  <i class="fa fa-folder-o"></i>
{% assign amount = page.categories.size %}
{% assign forindex = 0 %}
{% for category in page.categories %}
{% assign forindex = forindex | plus:1 %}
{% if forindex < amount %}				  <a href="#">{{ category }}, </a>
{% else %}				  <a href="#">{{ category }}</a>
{% endif %}
{% endfor %}
				  </span>
				<span>
				  <i class="fa fa-tags"></i>
{% assign amount = page.tags.size %}
{% assign forindex = 0 %}
{% for tag in page.tags %}
{% assign forindex = forindex | plus:1 %}
{% if forindex < amount %}				  <a href="#">{{ tag }}, </a>
{% else %}				  <a href="#">{{ tag }}</a>
{% endif %}
{% endfor %}
				</span>
				<!--<span><i class="fa fa-clock-o"></i>{{ page.words | divided_by:130 | round }} min. read</span>-->
			  </div>
			  
			  <div class="col-md-6">
		        <p>{{ page.description }}</p>
			    <!--<p><img src="{{ page.image }}" alt="Episode #{{ page.epnumber }}: {{ page.title }}" class="img-fluid"></p>-->
              </div>
		  </div>
		  
		  <div class="col-md-6">
            <div class="details">
			  <h3>Watch:</h3>
			  <div class="aspect-ratio-video">
			    <iframe width="100%" src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			  </div>
            </div>
          </div>
		  
		  <div class="col-md-6">
            <div class="details">
			  <h3>Listen:</h3>
			  <!--<div class="aspect-ratio-audio">
			    <iframe src="https://anchor.fm/whoamipodcast/embed/episodes/{{ page.audio }}" width="100%" frameborder="0" scrolling="no"></iframe>
			  </div>-->
			  <a href="https://anchor.fm/whoamipodcast/episodes/{{ page.audio }}" border="0">
			  <img src="/images/playOnAnchor.min.png" width="100%">
			  </a>
            </div>
          </div>
          
        </div>
		<div style="margin-left: 5%; max-width: 90%; margin-top: 30px;">
		  <h1 style="text-align: center; font-weight: bold;">Transcript</h1>
		  {{ content }}
{% for post in site.posts | sort:'post_date'}
  {% if post.type == "episode" %}
			<a href="{{ site.baseurl }}{{ post.url }}" class="action-button shadow animate pagecolor" style="display: block; width: 100%;"><i class="fa fa-play-circle-o"></i>&nbsp;&nbsp;[{% if post.epnumber < 10 %}0{% endif %}{{ post.epnumber }}]&nbsp;&nbsp;{{ post.title }}</a>
  {% endif %}
{% endfor %}
		</div>
{% include disqus.html %}
      </div>
    </section>
  </main>
{% elsif page.type contains "speaker" %}
  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
  {% if page.type contains "host" %}		  <h2>Speaker Details</h2>
  {% else %}          <h2>Speaker Details</h2>
  {% endif %}
          <p>{{ page.title }}</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="{{ page.image }}" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>{{ page.name }}</h2>
              <div class="social">
  {% if page.twitter %}                <a href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter"></i></a>
  {% endif %}
  {% if page.facebook %}                <a href="https://facebook.com/{{ page.facebook }}"><i class="fa fa-facebook"></i></a>
  {% endif %}
  {% if page.instagram %}                <a href="https://instagram.com/{{ page.instagram }}"><i class="fa fa-instagram"></i></a>
  {% endif %}
  {% if page.linkedin %}                <a href="https://linkedin.com/in/{{ page.linkedin }}"><i class="fa fa-linkedin"></i></a>
  {% endif %}
              </div>
{{ content }}
            </div>
          </div>
          
        </div>
      </div>

    </section>
  </main>
{% endif %}

{% include sharebuttons.html %}