---
layout: default
header: fixed
---

  <header id="header" class="header-fixed">
{% include header.html %}
  </header>

{% if page.type == "episode" %}
  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Episode #{{ page.epnumber }}</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
		    <h1>{{ page.title }}</h1>
			  <div class="entry-meta">
				<span><i class="fa fa-clock-o"></i>{{ page.date | date: "%e %B %Y" }}</span>
				<span class="tag-meta">
				  <i class="fa fa-folder-o"></i>
{% assign amount = page.categories.size %}
{% assign forindex = 0 %}
{% for category in page.categories %}
{% assign forindex = forindex | plus:1 %}
{% if forindex < amount %}
				  <a href="#">{{ category }}, </a>
{% else %}
				  <a href="#">{{ category }}</a>
{% endif %}
{% endfor %}
				  </span>
				<span>
				  <i class="fa fa-tags"></i>
{% assign amount = page.tags.size %}
{% assign forindex = 0 %}
{% for tag in page.tags %}
{% assign forindex = forindex | plus:1 %}
{% if forindex < amount %}
				  <a href="#">{{ tag }}, </a>
{% else %}
				  <a href="#">{{ tag }}</a>
{% endif %}
{% endfor %}
				</span>
			  </div>
		    <p>{{ page.description }}</p>
			<p><img src="{{ page.image }}" alt="Episode #{{ page.epnumber }}: {{ page.title }}" class="img-fluid"></p>
          </div>

          <div class="col-md-6">
            <div class="details">
			  <h3>Listen:</h3>
			  <div class="aspect-ratio-audio">
			    <iframe src="https://anchor.fm/whoamipodcast/embed/episodes/{{ page.audio }}" width="100%" frameborder="0" scrolling="no"></iframe>
			  </div>
			  <h3>Watch:</h3>
			  <div class="aspect-ratio-video">
			    <iframe width="100%" src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			  </div>
            </div>
          </div>
        </div>
		<div style="margin-left: 15%; max-width: 70%; text-align: center;">
		  <h1>Transcript:</h1>
		  {{ content }}
		</div>
{% include disqus.html %}
      </div>
    </section>
  </main>

{% elsif page.type contains "speaker" %}
  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
  {% if page.type contains "host" %}
          <!--<h2>Host Details</h2>-->
		  <h2>Speaker Details</h2>
  {% else %}
          <h2>Speaker Details</h2>
  {% endif %}
          <p>{{ page.title }}</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="{{ page.image }}" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>{{ page.name }}</h2>
              <div class="social">
  {% if page.twitter %}
                <a href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter"></i></a>
  {% endif %}
  {% if page.facebook %}
                <a href="https://facebook.com/{{ page.facebook }}"><i class="fa fa-facebook"></i></a>
  {% endif %}
  {% if page.instagram %}
                <a href="https://instagram.com/{{ page.instagram }}"><i class="fa fa-instagram"></i></a>
  {% endif %}
  {% if page.linkedin %}
                <a href="https://linkedin.com/in/{{ page.linkedin }}"><i class="fa fa-linkedin"></i></a>
  {% endif %}
              </div>
{{ content }}
            </div>
          </div>
          
        </div>
      </div>

    </section>
  </main>
  
{% endif %}

{% include sharebuttons.html %}