---
layout: default
header: fixed
---
  <header id="header" class="header-fixed">
{% include header.html %}
  </header>

{% if page.type == "episode" %}
  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">

        <div class="row">
		
          <!-- left column -->
          <div class="col-md-9">
		  
		    <!-- image and title -->
			<div>
			  <div>
{% assign ppep = nil %}
{% assign pep = nil %}
{% assign ep = nil %}
{% assign posts = site.posts | sort: 'section' | sort: 'epnumber' %}
{% for post in posts %}
  {% if post.type == "episode" && post.section == 0 %}
    {% assign ppep = pep %}
	{% assign pep = ep %}
	{% assign ep = post %}
	{% if pep != nil && pep.epnumber == page.epnumber %}
	  {% break %}
	{% endif %}
  {% endif %}
{% endfor %}

{% assign pps = "" %}
{% assign ps = "" %}
{% assign s = "" %}
{% for post in posts %}
  {% if post.type == "episode" %}
    {% assign pps = ps %}
    {% assign ps = s %}
	{% assign s = post.url %}
	{% if ps == page.url %}
	  {% break %}
	{% endif %}
  {% endif %}
{% endfor %}
{% if s == page.url %}
  {% assign pps = ps %}
  {% assign ps = s %}
  {% assign s = "" %}
{% endif %}
			    <div style="width: 20%; float: left; text-align: left; white-space: nowrap;">
				  {% if ppep != "" %}<a href="{{ site.baseurl }}{{ ppep.url }}"><img class="backward" src="/images/fastforwardicon.svg"></a>{% endif %}
				  {% if pps != nil %}<a href="{{ site.baseurl }}{{ pps }}"><img class="backward" src="/images/forwardicon.svg"></a>{% endif %}
				  &nbsp;
				</div>
                <h3 style="width: 60%; float: left; text-align: center;">Episode #{% if page.epnumber < 10 %}0{% endif %}{{ page.epnumber }} - {% if page.section == 0 %}Introduction{% else %}Section {{ page.section }}{% endif %}</h3>
				<div style="width: 20%; float: left; text-align: right; white-space: nowrap;">
				  &nbsp;
				  {% if s != "" %}<a href="{{ site.baseurl }}{{ s }}"><img class="forward" src="/images/forwardicon.svg"></a>{% endif %}
				  {% if ep != nil %}<a href="{{ site.baseurl }}{{ ep.url }}"><img class="forward" src="/images/fastforwardicon.svg"></a>{% endif %}
				</div>
			  </div>
		      <img src="{{ page.image }}" style="max-width: 100%; max-height: 300px; margin-left: auto; margin-right: auto; display: block;">
		      <h1 style="font-weight: bold; margin-top: 20px; text-align: center;">{{ page.title }}</h1>
            </div>
		  
		    <!-- meta data -->
			<div class="entry-meta">
			  <span><i class="fa fa-calendar"></i>{{ page.date | date: "%e %b %Y" }}</span>
			  <span class="tag-meta">
			    <i class="fa fa-folder-o"></i>
				<a href="#">{{ page.categories | join: ', ' }}</a>
  		      </span>
			  <span>
				<i class="fa fa-tags"></i>
				<a href="#">{{ page.tags | join: ', ' }}</a>
			  </span>
			</div>
			<!-- description -->
			<p>{{ page.description }}</p>
{% if page.video %}		  
            <!-- video -->
            <div>
  		      <h3 class="boldh3">Watch:</h3>
			  <div class="aspect-ratio-video">
  			    <iframe width="100%" src="https://www.youtube.com/embed/{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			  </div>
		    </div>
{% endif %}
{% if page.audio %}
            <!-- audio -->
            <div>
			  <h3 class="boldh3">Listen:</h3>
			  <div>
  				<iframe sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups" scrolling="no" width="100%" height="185" frameborder="0" src="https://embed.radiopublic.com/e?if=who-am-i-6Vy9k9&ge={{ page.audio }}"></iframe>
			  </div>
		  </div>
{% endif %}
		  <!-- transcript -->
          <div>
		    <h3 class="boldh3">Transcript{% if page.section > 0 %} (continued){% endif %}:</h3>
		    {{ content }}
		  </div>
		  <!-- previous / next section / episode -->
		  <div>
			<div style="width: 50%; float: left; text-align: left;">
			  {% if ppep != nil %}<a href="{{ site.baseurl }}{{ ppep.url }}"><img class="backward" src="/images/fastforwardicon.svg"></a>{% endif %}
			  {% if pps != "" %}<a href="{{ site.baseurl }}{{ pps }}"><img class="backward" src="/images/forwardicon.svg"></a>{% endif %}
			  &nbsp;
			</div>
			<div style="width: 50%; float: left; text-align: right;">
			  &nbsp;
			  {% if s != "" %}<a href="{{ site.baseurl }}{{ s }}"><img class="forward" src="/images/forwardicon.svg"></a>{% endif %}
			  {% if ep != nil %}<a href="{{ site.baseurl }}{{ ep.url }}"><img class="forward" src="/images/fastforwardicon.svg"></a>{% endif %}
			</div>
		  </div>
		  <!-- related posts -->
		  <div style="margin-top: 30px">
		    <h3 class="boldh3">Related Posts:</h3>
{% for post in site.posts %}
{% if post.type == "episode" %}
			<a href="{{ site.baseurl }}{{ post.url }}" class="action-button shadow animate pagecolor" style="display: block; width: 100%;"><i class="fa fa-play-circle-o"></i>&nbsp;&nbsp;[{% if post.epnumber < 10 %}0{% endif %}{{ post.epnumber }}]&nbsp;&nbsp;{{ post.title }}</a>
{% endif %}
{% endfor %}
          </div>
		  <!-- comments -->
		  <h3 class="boldh3" style="margin-top: 30px">Leave a Comment:</h3>
{% include disqus.html %}
		</div>
		
        <!-- right column -->
        <div class="col-md-3">
		  TODO:<br>
		  involved speakers and their profile photos<br>
		  subscribe to newsletter<br>
		  ad<br>
		  recent posts<br>
		  ad<br>
		  most popular categories<br>
		  ad<br>
		  most popular tags<br>
		</div>
		
	  <!-- end row -->
      </div>
    </section>
  </main>




{% elsif page.type contains "speaker" %}
  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
  {% if page.type contains "host" %}		  <h2>Speaker Details</h2>
  {% else %}          <h2>Speaker Details</h2>
  {% endif %}
          <p>{{ page.title }}</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="{{ page.image }}" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>{{ page.name }}</h2>
              <div class="social">
  {% if page.twitter %}                <a href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter"></i></a>
  {% endif %}
  {% if page.facebook %}                <a href="https://facebook.com/{{ page.facebook }}"><i class="fa fa-facebook"></i></a>
  {% endif %}
  {% if page.instagram %}                <a href="https://instagram.com/{{ page.instagram }}"><i class="fa fa-instagram"></i></a>
  {% endif %}
  {% if page.linkedin %}                <a href="https://linkedin.com/in/{{ page.linkedin }}"><i class="fa fa-linkedin"></i></a>
  {% endif %}
              </div>
{{ content }}
            </div>
          </div>
          
        </div>
      </div>

    </section>
  </main>
{% endif %}

{% include sharebuttons.html %}